<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Balthisar Tidy (no Sparkle).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Balthisar Tidy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D013B4DB184F18A000F30654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D016A925182FD80700712C60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D016A949182FD80700712C60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0913CA118B0AC06005DB2E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
