<% if ENV['HelpBookTarget'] == 'pro' %>
Welcome to _Balthisar Tidy for Work_
====================================
<% else %>
Welcome to _Balthisar Tidy_
===========================
<% end %>


Use _Balthisar Tidy_ to sweep away your poor HTML clutter. It will pretty-format
your HTML, fix many HTML problems, diagnose difficult problems, and generally
make your HTML much, much better.

* * *

<div class="table_contents" markdown="1">

[Getting Started][000_tutorial]
 :  A step-by-step walkthrough to getting started with _Balthisar Tidy_.

[<em>Balthisar Tidy</em> Use Cases][000_use_cases]
 :  Why do I want to use _Balthisar Tidy_ anyway?.

[How do I…?][000_howto]
 :  How to accomplish common tasks with _Balthisar Tidy_.

<% unless boolENV('feature_advertise_pro') %>
[Use Advanced Features of _Balthisar Tidy_][000_advanced]
 :  Discover some of _Balthisar Tidy_’s advanced features..
<% end %>

[Reference][000_reference]
 :  An overall reference to _Balthisar Tidy_.

<% if boolENV('feature_advertise_pro') %>
[Get Balthisar Tidy for Work][tidyforwork]
 :  Discover some of the added features included in _Balthisar Tidy for Work_.
<% end %>

[Credits and Acknowledegments][000_ack]
 :  Find out whom else _Balthisar Tidy_ owes thanks to.

</div>

* * *
