/* line 1, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
body {
  font-family: "Lucida Grande", Arial, sans-serif;
  margin: 2px 12px 12px;
  font-size: 10pt;
  min-width: 600px; }

/* line 8, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
h1 {
  font-size: 15pt;
  margin-bottom: 0; }

/* line 14, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
h2 {
  font-size: 13pt;
  margin-top: 5px;
  margin-bottom: -6px; }

/* line 20, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
h3 {
  font-size: 11pt;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: -2px; }

/* line 27, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
p {
  font-size: 10pt;
  line-height: 12pt;
  text-decoration: none; }

/* line 33, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
code {
  background-color: #eeeeee;
  color: black;
  display: block;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  height: 1.8em;
  font-size: 9pt;
  font-family: Verdana, Courier, sans-serif; }

/* line 46, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
.note {
  background-color: #e6edff;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px 15px 15px 15px;
  margin-bottom: -15px;
  border: 1px solid #eaeaea; }

/* line 55, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#banner {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 600px;
  width: 100%;
  height: 25px;
  border-bottom: solid 1px #bfbfbf;
  white-space: nowrap; }

/* line 68, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#banner div {
  font-size: 8pt;
  float: left;
  width: auto;
  height: 20px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: solid 1px #bfbfbf;
  white-space: nowrap; }

/* line 80, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#banner div + div:last-child {
  float: right;
  border-right: 0;
  border-left: solid 1px #bfbfbf; }

/* line 86, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#breadcrumb {
  width: 100%;
  background: #eee none; }

/* line 91, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 97, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#breadcrumb li {
  margin: 0;
  padding-right: 1em;
  float: left; }

/* line 103, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#breadcrumb li:before {
  content: ">"; }

/* line 107, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#container {
  margin-top: 40px;
  min-height: 200px;
  padding-right: 6px; }

/* line 113, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#logo {
  margin-top: 3px;
  margin-bottom: 15px;
  margin-right: 10px;
  float: left; }

/* line 120, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#title {
  margin-left: 10px;
  float: left; }

/* line 125, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#title h1 {
  margin-left: 50px;
  margin-top: 0px;
  padding-left: 10px; }

/* line 131, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#content {
  clear: left; }

/* line 135, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#seealso h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #5c5c5c;
  text-decoration: none; }

/* line 142, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#seealso a {
  display: block;
  margin-left: 20px;
  height: 1.2em; }

/* line 149, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#footer {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 20px;
  border-top: solid 1px #bfbfbf; }

/* line 157, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
#footer p {
  text-align: center;
  font-size: 8pt; }

/* line 166, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.05em;
  color: #6388c1; }

/* line 174, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
a:visited {
  color: #9791ba; }

/* line 179, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
a:hover {
  text-decoration: underline; }

/* line 184, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
hr {
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #bfbfbf; }

/* line 193, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div#start-logo-area {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 22em;
  margin: 0;
  padding: 1em 0 0 0; }

/* line 204, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div#start-logo-area > div {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center; }

/* line 212, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div#start-logo-area > div > img {
  width: 75%;
  margin: 0 auto; }

/* line 219, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div#start-content-area {
  box-sizing: border-box;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  position: absolute;
  top: 0;
  left: 22em;
  border-left: 1px solid #bfbfbf; }

/* line 231, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
dl dd {
  padding-top: 1ex;
  padding-bottom: 2ex; }

/* line 236, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
pre {
  background-color: #eeeeee;
  color: black;
  display: block;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 9pt;
  font-family: Menlo, Courier, monospace; }

/* line 251, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div.steps {
  padding: 1em 2em;
  margin: 10px 3em;
  border: 1px solid #bfbfbf;
  border-radius: 10px; }

/* line 259, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div.steps li {
  margin-bottom: 20px; }

/* line 265, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div#start-logo-area > div.related_topics,
div.related_topics {
  margin-top: 2em;
  text-align: left;
  margin-left: 3em; }

/* line 276, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div.related_topics ul,
div.topics_lists ul {
  list-style: none;
  padding-left: 1em; }

/* line 282, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div.topics_lists ul li {
  margin-bottom: 10px;
  margin-top: 10px; }

/* line 289, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div.center-content {
  overflow: hidden; }

/* line 294, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div.center-content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* line 304, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div.center-content > div {
  float: left;
  position: relative;
  left: 50%; }

/* line 311, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div.center-content > div > div {
  float: left;
  position: relative;
  left: -50%; }

/* line 318, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
div.center-content > div > div > img {
  max-width: 100%; }

/* line 324, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
img.top-adorn {
  width: 100px;
  float: right; }

/* line 330, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
img.top-icon {
  width: 24px;
  padding: 0 1em 0 0;
  float: left; }

/* line 337, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
.split_article {
  box-sizing: border-box; }

/* line 342, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
.split_article > div {
  float: left;
  box-sizing: border-box;
  padding: 1em;
  width: 45%; }

/* line 350, /Users/jderry/Dropbox/Development/Balthisar Tidy/Balthisar Tidy Help Project/Contents (source)/Resources/Base.lproj/css/styles.css.scss */
.split_article > div img {
  max-width: 100%; }
