img[src$='all-action-invoke.png'] { max-width: 154px; }
img[src$='all-action-invoke@2x.png'] { max-width: 156px; }
img[src$='all-action-menu.png'] { max-width: 380px; }
img[src$='all-action-menu@2x.png'] { max-width: 380px; }
img[src$='all-context-options-prefs.png'] { max-width: 213px; }
img[src$='all-context-options-prefs@2x.png'] { max-width: 213px; }
img[src$='all-context-options.png'] { max-width: 261px; }
img[src$='all-context-options@2x.png'] { max-width: 261px; }
img[src$='all-context-toolbar.png'] { max-width: 211px; }
img[src$='all-context-toolbar@2x.png'] { max-width: 211px; }
img[src$='all-cursor-splitter-leftright.png'] { max-width: 24px; }
img[src$='all-cursor-splitter-leftright@2x.png'] { max-width: 24px; }
img[src$='all-cursor-splitter-updown.png'] { max-width: 24px; }
img[src$='all-cursor-splitter-updown@2x.png'] { max-width: 24px; }
img[src$='all-docpart-fullscreen.png'] { max-width: 21px; }
img[src$='all-docpart-fullscreen@2x.png'] { max-width: 21px; }
img[src$='all-docpart-messages.png'] { max-width: 851px; }
img[src$='all-docpart-messages@2x.png'] { max-width: 851px; }
img[src$='all-docpart-source.png'] { max-width: 851px; }
img[src$='all-docpart-source@2x.png'] { max-width: 851px; }
img[src$='all-docpart-tidyd.png'] { max-width: 851px; }
img[src$='all-docpart-tidyd@2x.png'] { max-width: 851px; }
img[src$='all-docpart-tidyoptions.png'] { max-width: 301px; }
img[src$='all-docpart-tidyoptions@2x.png'] { max-width: 300px; }
img[src$='all-docpart-toolbar.png'] { max-width: 1152px; }
img[src$='all-docpart-toolbar@2x.png'] { max-width: 1152px; }
img[src$='all-docpart-windowcontrols.png'] { max-width: 72px; }
img[src$='all-docpart-windowcontrols@2x.png'] { max-width: 72px; }
img[src$='all-encoding-helper.png'] { max-width: 626px; }
img[src$='all-encoding-helper@2x.png'] { max-width: 626px; }
img[src$='all-helper-startup.png'] { max-width: 605px; }
img[src$='all-helper-startup@2x.png'] { max-width: 605px; }
img[src$='all-menu-edit.png'] { max-width: 249px; }
img[src$='all-menu-edit@2x.png'] { max-width: 249px; }
img[src$='all-menu-file.png'] { max-width: 181px; }
img[src$='all-menu-file@2x.png'] { max-width: 181px; }
img[src$='all-menu-help.png'] { max-width: 384px; }
img[src$='all-menu-help@2x.png'] { max-width: 384px; }
img[src$='all-menu-main-root.png'] { max-width: 500px; }
img[src$='all-menu-main-root@2x.png'] { max-width: 500px; }
img[src$='all-menu-services.png'] { max-width: 448px; }
img[src$='all-menu-services@2x.png'] { max-width: 448px; }
img[src$='all-menu-view-sourcecode.png'] { max-width: 178px; }
img[src$='all-menu-view-sourcecode@2x.png'] { max-width: 178px; }
img[src$='all-menu-view.png'] { max-width: 199px; }
img[src$='all-menu-view@2x.png'] { max-width: 199px; }
img[src$='all-menu-window.png'] { max-width: 166px; }
img[src$='all-menu-window@2x.png'] { max-width: 166px; }
img[src$='all-save-save-as-required.png'] { max-width: 504px; }
img[src$='all-save-save-as-required@2x.png'] { max-width: 532px; }
img[src$='all-save-save-warning.png'] { max-width: 504px; }
img[src$='all-save-save-warning@2x.png'] { max-width: 532px; }
img[src$='all-setup-extensions.png'] { max-width: 668px; }
img[src$='all-setup-extensions@2x.png'] { max-width: 668px; }
img[src$='all-setup-preferences.png'] { max-width: 780px; }
img[src$='all-setup-preferences@2x.png'] { max-width: 780px; }
img[src$='all-setup-services.png'] { max-width: 780px; }
img[src$='all-setup-services@2x.png'] { max-width: 780px; }
img[src$='all-tbb-defaultset.png'] { max-width: 547px; }
img[src$='all-tbb-defaultset@2x.png'] { max-width: 547px; }
img[src$='all-tbb-flexspace.png'] { max-width: 106px; }
img[src$='all-tbb-flexspace@2x.png'] { max-width: 106px; }
img[src$='all-tbb-help.png'] { max-width: 106px; }
img[src$='all-tbb-help@2x.png'] { max-width: 106px; }
img[src$='all-tbb-messages.png'] { max-width: 106px; }
img[src$='all-tbb-messages@2x.png'] { max-width: 106px; }
img[src$='all-tbb-options.png'] { max-width: 106px; }
img[src$='all-tbb-options@2x.png'] { max-width: 106px; }
img[src$='all-tbb-orient.png'] { max-width: 106px; }
img[src$='all-tbb-orient@2x.png'] { max-width: 106px; }
img[src$='all-tbb-prefs.png'] { max-width: 106px; }
img[src$='all-tbb-prefs@2x.png'] { max-width: 106px; }
img[src$='all-tbb-print.png'] { max-width: 82px; }
img[src$='all-tbb-print@2x.png'] { max-width: 106px; }
img[src$='all-tbb-space.png'] { max-width: 106px; }
img[src$='all-tbb-space@2x.png'] { max-width: 106px; }
img[src$='all-tbb-tutorialb.png'] { max-width: 106px; }
img[src$='all-tbb-tutorialb@2x.png'] { max-width: 106px; }
img[src$='all-tidy-main-window.png'] { max-width: 1236px; }
img[src$='all-tidy-main-window@2x.png'] { max-width: 1264px; }
img[src$='all-tidy-prefs-01.png'] { max-width: 390px; }
img[src$='all-tidy-prefs-01@2x.png'] { max-width: 390px; }
img[src$='all-tidy-prefs-02.png'] { max-width: 390px; }
img[src$='all-tidy-prefs-02@2x.png'] { max-width: 390px; }
img[src$='all-tidy-prefs-03.png'] { max-width: 390px; }
img[src$='all-tidy-prefs-03@2x.png'] { max-width: 390px; }
img[src$='all-tidy-prefs-04.png'] { max-width: 390px; }
img[src$='all-tidy-prefs-04@2x.png'] { max-width: 390px; }
img[src$='all-tidy-prefs-05.png'] { max-width: 390px; }
img[src$='all-tidy-prefs-05@2x.png'] { max-width: 390px; }
img[src$='all-toolbar-customize.png'] { max-width: 649px; }
img[src$='all-toolbar-customize@2x.png'] { max-width: 649px; }
img[src$='all-tutorial.png'] { max-width: 360px; }
img[src$='all-tutorial@2x.png'] { max-width: 360px; }
img[src$='app-menu-application.png'] { max-width: 200px; }
img[src$='app-menu-application@2x.png'] { max-width: 200px; }
img[src$='pro-context-options-prefs.png'] { max-width: 278px; }
img[src$='pro-context-options-prefs@2x.png'] { max-width: 278px; }
img[src$='pro-context-options.png'] { max-width: 278px; }
img[src$='pro-context-options@2x.png'] { max-width: 278px; }
img[src$='pro-menu-application.png'] { max-width: 256px; }
img[src$='pro-menu-application@2x.png'] { max-width: 256px; }
img[src$='pro-menu-main-root.png'] { max-width: 500px; }
img[src$='pro-menu-main-root@2x.png'] { max-width: 500px; }
img[src$='web-menu-application.png'] { max-width: 200px; }
img[src$='web-menu-application@2x.png'] { max-width: 200px; }
img[src$='web-tidy-prefs-01.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-01@2x.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-02.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-02@2x.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-03.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-03@2x.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-04.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-04@2x.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-05.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-05@2x.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-06.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-06@2x.png'] { max-width: 390px; }
img[src$='breadcrumb-separator-light.png'] { max-width: 7px; }
img[src$='icon_256x256.png'] { max-width: 256px; }
img[src$='icon_256x256@2x.png'] { max-width: 256px; }
img[src$='icon_32x32.png'] { max-width: 32px; }
img[src$='icon_32x32@2x.png'] { max-width: 32px; }
