---
title:  View Tidy’d Text
blurb: This lesson demonstrates how to view the “Tidy’d” text that _Balthisar
       Tidy_ makes for you.
layout: template-logo-medium
order: 6
---
<% content_for :relatedTopics do %>
<%= partial "related_topics.html" %>
<h1>See also</h1>
<ul class="related_topics">
<li><a href="../../reference/docu/docu-sourcearea.html">Reference: Source Area</a></li>
<li><a href="../../reference/prefs/prefs-docappearance.html">Reference: Document Appearance</a></li>
</ul>
<% end %>

<%= current_page.data.title %>
==============================

EMPTY
