---
title: Save a Tidy’d Document
blurb: Learn how to save a file with this lesson. You may be surprised!
layout: template-logo-medium
order: 8
---
<% content_for :relatedTopics do %>
<%= partial "related_topics.html" %>
<h1>See also</h1>
<ul class="related_topics">
<li><a href="../../reference/prefs/prefs-filesaving.html">Reference: File Saving Preferences</a></li>
</ul>
<% end %>


Save a Tidy’d Document
======================

EMPTY
