---
title: Choose Tidy Options
blurb: There are hundreds of different ways to fix and Tidy your files. Learn
       to choose among the options here.
layout: template-logo-medium
order: 01
---
<% content_for :relatedTopics do %>
<%= partial "related_topics.html" %>
<h1>See also</h1>
<ul class="related_topics">
<li><a href="../../reference/prefs/prefs-tidyoptions.html">Reference: Default Tidy Options</a></li>
</ul>
<% end %>


<%= current_page.data.title %>
==============================

EMPTY
