---
title: Customize, Hide, or Show the Toolbar
blurb: Like all good Mac applications, <em>Balthisar Tidy</em> has a
       full-featured toolbar to aid your productivity.
layout: template-logo-medium
order: 06
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_Balthisar Tidy_ offers toolbar that can make your workflow more effective.
Familiarize yourself with the toolbar in the steps below.

<div class="steps" markdown="1">

1. The default toolbar contains buttons for **Preferences**, **Tutorial**,
   **Options**, **Messages**, and **Orient**.
   ![toolbar][docpart-toolbar]

2. You can modify the toolbar to suit your own needs by right-clicking the
   toolbar and choosing **Customize Toolbar…** from the contextual menu, or
   ![context menu][context-toolbar]

3. You can modify the toolbar by selecting **Customize Toolbar…** from the
   **View** menu.
   ![view menu][menu-view]

4. The standard Mac OS X toolbar customization panel will appear.
   ![customize toolbar][toolbar-customize]

</div>