- pages = (defined? group) ? pages_related_to(group) : related_pages
- unless pages.to_a.empty?
  .table_contents{:markdown => '0'}
    %dl
      - pages.each do |p|
        %dt<
          %a{:href => p.metadata[:link]}<
            = p.data.title
        - if p.data.blurb
          %dd<
            = p.data.blurb
