---
title: Tidy Options
blurb: A plethora of Tidy options gives you full control over the output style,
       error corrections, and problem detection that <em>Balthisar Tidy</em>
       offers you.
layout: template-logo-medium
order: 4
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_Balthisar Tidy_ Tidy’s the text according to a broad set of options which are
found in the ”Tidy Options” pane.

<div class="split_article" markdown="1">

![tidy options panel][doc-tidy-options]

Tidy offers several options for cleaning HTML, correcting errors,
identifying accessibility issues, and more.

If you select any of the Tidy options, a description of that option
appears at the bottom of the Tidy Options panel.

If you don’t care to see the description for any of the options, you can
hide it completely using the show and hide button at the bottom left
hand side of the list.

Finally, at the bottom of the options panel is an action button with
several choices that can help you work more effectively with Tidy’s
options.

**Reset options to defaults in Preferences…**
:   This action is available in Tidy document windows, and when used it
    will change all of the Tidy options in the current document back to
    the settings that are stored in Preferences. This may be helpful if
    you’ve been making many options changes and simply want to revert
    back to the defaults.
**Save these option settings to Preferences…**
:   This action is available in Tidy document windows, and when used it
    will set the Tidy options in Preferences for you. This may be
    helpful when you’ve been making many options changes in pursuit of
    the “perfect settings.” Once you’re happy with the results, you can
    store them in Preferences very, very easily.
**Reset options to factory defaults…**
:   This action is available in the Tidy Preferences window, and will
    restore all of the Preferences options settings back to whatever the
    factory default values happened to be. You may want to use this
    option in order to return to a clean slate after experimenting with
    features.
**Show friendly option names**
:   This action is available in Tidy document windows and in the Tidy
    preferences window. Normally *Balthisar Tidy* displays the Unix Tidy
    option names so that experienced Tidy users can identify their
    favorite options right away. When friendly names are enabled,
    *Balthisar Tidy* shows more human-friendly names for the options.
    This is particularly useful if you’re using a non-English version of
    *Balthisar Tidy* because the Unix names are English only.</div>
