---
title: Credits and Acknowledgements
layout: template-logo-large
order: 0
---
<%= current_page.data.title %>
==============================

_Balthisar Tidy_ leverages the goodwill of others. Find out all about them in
these series of topics.

<div markdown="0">
<%= partial "table_contents" %>
</div>
