<h1>Related Topics</h1>
<ul>
<% unless page_name == "ack_opensource" %>
    <li><a href="ack_opensource.html">Open Source Software Acknowledgements</a></li>
<% end %>
<% unless page_name == "ack_i18n" %>
    <li><a href="ack_i18n.html">Internationalization Acknowledgements</a></li>
<% end %>
<% unless page_name == "license" %>
    <li><a href="license.html">Source Code License and Contributor Agreement</a></li>
<% end %>
</ul>
