---
title: Work with Messages in the Source Area
blurb: Work with Tidy Messages directly in the source code editing area.
layout: template-logo-medium
order: 15
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

You can work much closer to _<%= product_name %>_’s messages by displaying
them in the line number gutter and having their locations marked directly in
your source document.

First make sure that line numbers 

<div class="steps" markdown="1">

1. The **Quick Tutorial** starts automatically the first time you use _Balthisar
   Tidy_.

2. You can also activate the **Quick Tutorial** by selecting **Show the Quick
   Tutorial…** in the **Help** menu.
   ![help menu][all-menu-help]

3. You can start the **Quick Tutorial** using the **Tutorial** button on the
   document window’s toolbar.
   ![view menu][all-docpart-toolbar]

</div>
