---
title: View Descriptions of the Tidy Options
---
<div><img src="../../shared/icon_256x256@2x.png" class="top-icon" alt="logo"/></div>
<h1>Choose Tidy options and view descriptions</h1>

<div class="split_article">
	<div>
		<img src="../images/doc-tidy-options.png" alt="example"/>
	</div>
	<div>
		<p>
			Tidy offers many options for cleaning your HTML, correcting errors, identifying
			accessibility issues, and more. All of the available options are available in
			the document window pane labeled “Tidy Options,” as shown to the left.
		</p>
		<p>
			If you select any of the Tidy options, a description of that option appears at
			the bottom of the Tidy Options panel.
		</p>
		<p>
			Some of the descriptions are quite long, and so you may choose to hide the descriptions.
			This is easily done by clicking on the “DESCRIPTION” label in the options panel. Clicking
			it again will show the descriptions again.
		</p>

	</div>
</div>
