---
title: About the Tidy’d HTML Panel
layout: layout-logo-small-top
---
<h1>Tidy’s Tidy’d HTML Pane</h1>
<p>
	<em>Balthisar Tidy</em>’s result is display in the “Tidy’d HTML” pane.
	When you save the document, this is the file that will be written to
	disk.
</p>
<img src="../images/doc-tidyd.png" alt="example" class="maxW1660px"/>

<p>
	Because Tidy can be very strict, and because HTML standards sometimes
	change, it’s a good idea to review this Tidy’d text before saving your
	document. It’s possible (although unlikely) that Tidy removes something
	that you don’t want removed.
</p>
<p>
	Also refer to the <a href="prefs-file-saving.html">File Saving Preferences</a>,
	which offer a way to prevent you from overwriting your original files.
</p>
