---
title: How do I…?
layout: template-logo-large
---
<% content_for :relatedTopics do %>
	<h1>Related Topics</h1>
	<ul>
		<li><a href="gettingstarted.html">Getting Started</a></li>
		<li><a href="reference.html">Reference</a></li>
	</ul>
<% end %>


<h1>How do I…?</h1>
<ul>
	<li><a href="how-tidy-existing.html">Tidy an existing document</a></li>
	<li><a href="how-create-new.html">Create a new, empty document</a></li>
	<li><a href="how-open-document.html">Open a document</a></li>
	<li><a href="options-choose.html">Choose Tidy options</a></li>
	<li><a href="options-descriptions.html">Find descriptions of the Tidy options</a></li>
	<li><a href="how-view-edit-source.html">View and edit HTML source text</a></li>
	<li><a href="how-view-tidyd.html">View Tidy'd text</a></li>
	<li><a href="how-view-error-table.html">View and use Tidy’s messages table</a></li>
	<li><a href="how-save-file.html">Save a file and change save behaviors</a></li>
	<li><a href="how-file-encoding-helper.html">Use the file encoding helper</a></li>
</ul>
