---
title: Open a Document
layout: template-logo-small
---
<h1>Open a Document</h1>
<p>
	You can open an existing document in order to Tidy it by
	following these simple simple steps, below.
</p>


<div class="steps">
	<ol>
		<li>
			Use the <strong>Open…</strong> menu item in the <strong>File</strong>
			menu, or
		</li>
		<li>
			Drag a file in Finder to <em>Balthisar Tidy’s</em> icon in the Dock, or
		</li>
		<li>
			Create an AppleScript program to tell Finder to open a file with
			<em>Balthisar Tidy</em>.
		</li>

	</ol>
</div>
