---
title: Create a New, Blank Document
layout: template-logo-small
---
<h1>Create a New, Blank Document </h1>

<div class="steps">
	<p>
		By default, <em>Balthisar Tidy</em> automatically creates a new, blank document
		when it starts.
	</p>
	<p>
		You can also create a new document by selecting <strong>New</strong> in the
		<strong>File</strong> menu.
	</p>
	<p>
		 New documents’ <a href="options-descriptions.html">Tidy options</a> will
		 automatically be set to those in <a href="preferences.html">Preferences</a>.
	</p>
</div>
