---
title: Setting File Saving Preferences
layout: template-logo-small
---
<h1>File Saving Preferences Page</h1>
<p>
	These preferences can help you protect your original documents
	in case Tidy does something unexpected by setting the file save behavior.
</p>


<div class="split_article">
	<div>
		<% if ENV['feature_sparkle'] == 'yes' %>
		<img src="../images/tidy-prefs-02.png" alt="example" class="maxW840px"/>
		<% else %>
		<img src="../images/tidy-prefs-02-ns.png" alt="example" class="maxW840px"/>
		<% end %>
	</div>
	<div>
		<p>
			These settings all control whether files are saved normally, saved normally
			after a one-time warning, or require you to <strong>Save As…</strong> before
			saving an opened file the first time.
		</p>

	</div>
</div>
