---
title: Balthisar Tidy Reference
layout: layout-logo-large
---
<% content_for :relatedTopics do %>
	<h1>Related Topics</h1>
	<ul>
		<li><a href="gettingstarted.html">Getting Started</a></li>
		<li><a href="how-index.html">How do I…?</a></li>
	</ul>
<% end %>


<h1>Reference</h1>
<ul>
	<li><a href="doc-window.html">Tidy Document Window</a>
		<ul>
			<li><a href="doc-source.html">Source HTML</a></li>
			<li><a href="doc-tidyd.html">Tidy'd HTML</a></li>
			<li><a href="doc-error-table.html">Message Table</a></li>
			<li><a href="doc-tidy-options.html">Tidy Options</a></li>
			<li><a href="options-descriptions.html">Descriptions of the Tidy Options</a></li>
			<li><a href="doc-splitter.html">Document panel sizing splitter</a></li>
		</ul>
	</li>
</ul>

<ul>
	<li><a href="preferences.html">Preferences</a>
		<ul>
			<li><a href="prefs-default-tidy-options.html">Choose default Tidy Options</a></li>
			<li><a href="options-descriptions.html">Descriptions of the Tidy Options</a></li>
			<li><a href="prefs-file-saving.html">File Saving Behavior</a></li>
			<li><a href="prefs-miscellaneous.html">Miscellaneous Preferences</a></li>
			<% if ENV['feature_sparkle'] == 'yes' %>
			<li><a href="prefs-updates.html">Updates Preferences</a></li>
			<% end %>
		</ul>
	</li>
</ul>
