<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>5.0.8</string>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>9A2477AB-E12C-473E-B54F-D839EB11D25A-12393-000061B4230B2584</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>311</integer>
								<integer>394</integer>
								<integer>159</integer>
							</array>
							<key>5</key>
							<array>
								<integer>240</integer>
								<integer>100</integer>
								<integer>306</integer>
								<integer>80</integer>
								<integer>122</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>aepState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>15</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<integer>0</integer>
								<key>LNSTextViewShowSpaces</key>
								<integer>0</integer>
								<key>LNSTextViewShowTabStops</key>
								<integer>0</integer>
								<key>LNSTextViewWrapLines</key>
								<integer>1</integer>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {508, 209}}</string>
							</dict>
						</dict>
						<key>explorerState</key>
						<dict>
							<key>dividerPos</key>
							<real>318.33334350585938</real>
							<key>scope2.changedItems</key>
							<integer>1</integer>
							<key>scope2.emptyElements</key>
							<integer>0</integer>
							<key>scope2.filledElements</key>
							<integer>1</integer>
							<key>scope2.props</key>
							<integer>1</integer>
							<key>scope2.unchangedItems</key>
							<integer>1</integer>
							<key>showScopeBar</key>
							<integer>1</integer>
						</dict>
						<key>fileSpecState</key>
						<dict/>
						<key>modes</key>
						<array>
							<string>mode.source</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
						<key>sourceState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>2</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<integer>0</integer>
								<key>LNSTextViewShowSpaces</key>
								<integer>0</integer>
								<key>LNSTextViewShowTabStops</key>
								<integer>0</integer>
								<key>LNSTextViewWrapLines</key>
								<integer>1</integer>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {508, 209}}</string>
							</dict>
						</dict>
						<key>textState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>5</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<integer>0</integer>
								<key>LNSTextViewShowSpaces</key>
								<integer>0</integer>
								<key>LNSTextViewShowTabStops</key>
								<integer>0</integer>
								<key>LNSTextViewWrapLines</key>
								<integer>1</integer>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {508, 209}}</string>
							</dict>
						</dict>
					</dict>
					<key>stackVisible</key>
					<false/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>199.79296875</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>171</real>
				<key>eventLogViewState</key>
				<dict>
					<key>format</key>
					<string>EventLogScopeBar_Source</string>
					<key>resultState</key>
					<dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
					</dict>
					<key>resultViewerWidth</key>
					<real>410</real>
					<key>scopeVisible</key>
					<true/>
					<key>showResultViewer</key>
					<false/>
				</dict>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>145</real>
						<key>searchFlags</key>
						<integer>167784318</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>312</integer>
								<integer>285</integer>
								<integer>282</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>291</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplitPosition</key>
				<real>524</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>425</integer>
								<integer>441</integer>
							</array>
							<key>3</key>
							<array>
								<integer>298</integer>
								<integer>309</integer>
								<integer>247</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>45</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<true/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<false/>
						<key>LNSVisibleRect</key>
						<string>{{0, 2}, {1214, 693}}</string>
						<key>ShowLineNumbers</key>
						<true/>
						<key>showCodeCoverage</key>
						<false/>
					</dict>
					<key>instanceID</key>
					<string>FCB28F6A-3C28-4FEF-B5A0-4345E633B840-12393-0000981F9CD4451E</string>
					<key>resultBarVisible</key>
					<false/>
				</dict>
				<key>showEventLog</key>
				<true/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>433</real>
					<key>tab.debug</key>
					<real>439</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>9A2477AB-E12C-473E-B54F-D839EB11D25A-12393-000061B4230B2584</string>
				<key>windowFrame</key>
				<string>43 376 1786 965 0 0 2560 1418 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>ScriptWindowController</string>
				<key>controllerID</key>
				<string>9A2477AB-E12C-473E-B54F-D839EB11D25A-12393-000061B4230B2584</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>windowFrame</key>
					<string>43 376 1786 965 0 0 2560 1418 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
