/*****************************************************************************
	Styles that bring an Apple-like look to your applications' help	files.

	* Used in conjunction with normalize.css to establish sane defaults.
	* We have *structural* containers and *styling* containers.
	* There's no such thing as padding and margins on anything unless they're
	  part of a styling container, or inside of a styling container that
	  sets them for them.
	* Structural containers only have size and position and visibility.
	* Styling containers set styles for elements inside of them.
 *****************************************************************************/


/*************************************
  GENERAL STYLES
 *************************************/

$interMargins: 1.5ex;
$linkColor: rgb(99,136,193);
$standard_border: 1px solid #bfbfbf;

*
{
	margin: 0;
	padding: 0;
}

html
{
	font-size: 11pt;
	height: 100%;
}

body
{
	font-family: "Helvetica Neue", Arial, sans-serif;
	height: 100%;
	min-width: 600px;
}

h1
{
	font-size: 1.6em;
}


h2
{
	font-size: 1.5em;
}

h3
{
	font-size: 1.3em;
}

p
{
	font-size: 1.0em;
	line-height: 1.6em;
}

a
{
	text-decoration: none;
	font-weight: bold;
	font-size: 1.05em;
	color: $linkColor;

	&:visited {
		color: $linkColor;
	}

	&:hover {
		text-decoration: underline;
	}
}

hr
{
	text-decoration: none;
	border: none;
	border-bottom: $standard_border;
	margin: ($interMargins * 2) 10% ($interMargins * 2) 10%;
}

/*
	"standard" img should always be a block and centered
	and assume 100% width. Can set max-width to prevent
	oversized images in another class.
 */
img
{
	display: block;
	width: 100%;
	margin: 0 auto 0 auto;

}

/*
	"standard" dl only spaces the items. Set the <dl> in
	a styling container if you want padding or margins.
 */
dl
{
	dd
	{
		margin: 0.8ex 0 0.8ex 3em;
	}
}

/*
	"standard" ul has no margins or padding.
 */
ul
{
	list-style: square;
	list-style-position: outside;
}

/*
	"standard" li only spaces the items. Set the <ul> or <ol>
	in a styling container if you want padding or margins.
	The default aligns the left of the text with the body
	left text, meaning the bullets or counters will stick out
	to the left.
 */
li
{
	margin: 0.8ex 0 0.8ex 0;
}


/*************************************
  IMAGE CONSTRAINTS
	We use a lot of 100% width images
	in order to have them fit their
	containers, but we also want to
	restrain them from exceeding
	their actual sizes.
 *************************************/

img.maxW420px { max-width: 420px; }
img.maxW592px { max-width: 592px; }
img.maxW644px { max-width: 644px; }
img.maxW840px { max-width: 840px; }
img.maxW1660px { max-width: 1660px; }
img.maxW2304px { max-width: 2304px; }


/*************************************
	related_topics
 *************************************/
div.related_topics
{
	ul
	{
		list-style: none;
		margin-left: 1em;
	}
}


/*************************************
	table_contents
 *************************************/
div.table_contents
{
	dl
	{
		margin: 1em;
	}
}


/*************************************
	layout-logo-large layout styles
 *************************************/

div.container-logo-large
{
	$logowidth: 200pt;

	position: relative;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

		/* left block, template content area. */
	 	> div:first-child
		{
			position: absolute;
			top: 0;
			left: 0;
			width: $logowidth;
			text-align: center;
			font-size: 0.9em;

			/*
			  top of left block, where image,
			  headline, and link all live.
			 */
			> div:first-child
			{
				margin-top: 1em;

				> img
				{
					display: block;
					width: 80%;
					margin: 0 auto 1em auto;
				}
			}

			/* bottom of left block, for related topics */
			> div:first-child + div
			{
				font-size: 0.9em;
				margin: 2em 1em 0 3em;
				text-align: left;

				h1
				{
					font-size: 1.3em;
				}
			}
		}

		/*
		  right block, the structure block. We will
		  perform divider styling here, despite my no-styling rule,
		  so that we can ensure it extends to the whole content.
		 */
		> div:first-child + div
		{
			margin-left: $logowidth;
			border-left: $standard_border;
			min-height: 100%;

			/* finally the user's block with a nice padding */
			> div:first-child
			{
				padding: 2em;
			}
		}
}


/*************************************
	layout-logo-medium styles
 *************************************/

div.container-logo-medium
{
	$logowidth: 130pt;

	position: relative;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

		/*
		  left block, the structure block. We will
		  perform divider styling here, despite my no-styling rule,
		  so that we can ensure it extends to the whole content.
		 */
		> div:first-child
		{
			margin-right: $logowidth;
			border-right: $standard_border;
			min-height: 100%;

			/* other images in the div, after the first-child */
			img
			{
				margin: 0 auto 1em auto;
				width: 90%;
			}

			/* finally the user's block with a nice padding */
			> div:first-child
			{
				padding: 2em;
			}
		}

		/* right block, template content area. */
	 	> div:first-child + div
		{
			position: absolute;
			top: 0;
			right: 0;
			width: $logowidth;

			/* top of right block, where image lives */
			> div:first-child
			{
				padding-top: 1em;

				> img
				{
					display: block;
					width: 80%;
					margin: 0 auto 1em auto;
				  }
			}

			/* bottom of left block, for related topics */
			> div:first-child + div
			{
				font-size: 0.8em;
				margin: 2em 1em 0 1em;
				text-align: left;

				h1
				{
					font-size: 1.3em;
				}
			}
		}
}


/*************************************
	layout-logo-small styles
 *************************************/

div.container-logo-small
{
	$bannerHeight: 36pt;
	padding: 1em 2em 0 2em;

	/* banner AND body text */
	> div:first-child
	{
		> img:first-child
		{
			height: $bannerHeight;
			width: auto;
			padding: 0 1em 0 0;
			float: left;

			+ h1
			{
				line-height: $bannerHeight;
				margin-bottom: 1ex;
			}
		}
	}

	/* This will be the related topics div */
	> div:first-child ~ div
	{
		font-size: 0.8em;
		padding-bottom: 1em;

		h1
		{
			font-size: 1.3em;
		}
	}
}


/*************************************
	Other Block Level Elements
 *************************************/

pre {
	background-color: #eeeeee;
	color: black;
	display: block;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-left: 2em;
	margin-right: 2em;
	font-size: 9pt;
	font-family: Menlo, Courier, monospace;
}


div.steps
{
	padding: 1em 2em 1em 2em;
	margin-top: 10px;
	margin-right: 3em;
	margin-left: 3em;
	margin-bottom: 20px;
	border: 1px solid #bfbfbf;
	border-radius: 10px;

		ul,
		ol {
			padding-left: 1em;

			li {
				margin-bottom: 20px;
			}
		}
}


.split_article
{
	box-sizing: border-box;

	> div
	{
		float: left;
		box-sizing: border-box;
		padding: 1em;
		width: 45%;

		img {
			display: block;
			float: right;
			width: 100%;
		}
	}

}

.split_steps_article
{
	box-sizing: border-box;

	> div
	{
		float: left;
		box-sizing: border-box;
		padding: 1em;
		width: 45%;

		img {
			display: block;
			margin: 0;
			float: right;
			width: 100%;
		}
	}
	> div + div
	{
		border: 1px solid #bfbfbf;
		border-radius: 10px;
	}

}

.note
{
	margin: 1em;
	padding: 1em;
	background-color: #e6edff;
	border: 1px solid #eaeaea;
}




/*

ORIGINAL


code {
	background-color: #eeeeee;
	color: black;
	display: block;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	height: 1.8em;
	font-size: 9pt;
	font-family: Verdana, Courier, sans-serif;;
}

#banner {
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 600px;
	width: 100%;
	height: 25px;
	border-bottom: solid 1px #bfbfbf;
	white-space: nowrap;
}

#banner div {
	font-size: 8pt;
	float: left;
	width: auto;
	height: 20px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-right: solid 1px #bfbfbf;
	white-space: nowrap;
}

#banner div + div:last-child {
	float: right;
	border-right: 0;
	border-left: solid 1px #bfbfbf;
}

#breadcrumb {
	width: 100%;
	background: #eee none;
}

#breadcrumb ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#breadcrumb li {
	margin: 0;
	padding-right: 1em;
	float: left;
	}

#breadcrumb li:before {
	content: ">";
}

#container {
	margin-top: 40px;
	min-height: 200px;
	padding-right: 6px;
}

#logo {
	margin-top: 3px;
	margin-bottom: 15px;
	margin-right: 10px;
	float: left;
}

#title {
	margin-left: 10px;
	float: left;
}

#title h1 {
	margin-left: 50px;
	margin-top: 0px;
	padding-left: 10px;
}

#content {
	clear: left;
}

#seealso h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #5c5c5c;
	text-decoration: none;
}

#seealso a {
	display: block;
	margin-left: 20px;
	height: 1.2em;
}


#footer {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
	border-top: solid 1px #bfbfbf;
}

#footer p {
	text-align: center;
	font-size: 8pt;
}




a
{
	text-decoration: none;
	font-weight: bold;
	font-size: 1.05em;
	color: rgb(99,136,193);
}

a:visited
{
	color: rgb(151,145,186);
}

a:hover
{
	text-decoration: underline;
}

hr
{
	text-decoration: none;
	border: none;
	border-bottom: 1px solid #bfbfbf;
}



div#start-logo-area
{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 22em;
	margin: 0;
	padding: 1em 0 0 0;
}

div#start-logo-area > div
{
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

div#start-logo-area > div > img
{
	width: 75%;
	margin: 0 auto;
}


div#start-content-area
{
	box-sizing: border-box;
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
	position: absolute;
	top: 0;
	left: 22em;
	border-left: 1px solid #bfbfbf;
}

dl dd
{
	padding-top: 1ex;
	padding-bottom: 2ex;
}



div.topics_lists ul
{
	list-style: none;
	padding-left: 1em;
}

div.topics_lists ul li
{
	margin-bottom: 10px;
	margin-top: 10px;
}


div.center-content
{
	overflow: hidden;
}

div.center-content:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

div.center-content > div
{
	float: left;
	position: relative;
	left: 50%;
}

div.center-content > div > div
{
	float: left;
	position: relative;
	left: -50%;
}

div.center-content > div > div > img
{
	max-width: 100%;
}


img.top-adorn
{
	width: 100px;
	float: right;
}

img.top-icon
{
	width: 24px;
	padding: 0 1em 0 0;
	float: left;
}

*/
