<% wrap_layout :"layout-html4" do %>

	<div class="container-logo-medium-right">
		<div>
	        <%= yield %>
		</div>
		<div>
			<div>
				<img src="../../shared/icon_256x256@2x.png"  alt="logo" />
			</div>
			<div>
				<%= yield_content :relatedTopics %>
			</div>
		</div>
	</div>

<% end %>
