<% wrap_layout :"layout-html4" do %>

	<div class="container-logo-medium-top">
		<img src="../../shared/icon_256x256@2x.png" alt="logo"/>
	    <%= yield %>
	</div>
	<hr/>
	<div>
		<%= yield_content :relatedTopics %>
	</div>

<% end %>
