<% wrap_layout :"layout-html4" do %>

	<div class="container-logo-large">
		<div>
			<div>
				<%= image_tag '/Resources/shared/icon_256x256@2x.png', :alt => "logo" %>
				<h1>Balthisar Tidy Help</h1>
				<a href="http://www.balthisar.com/software/tidy">www.balthisar.com/software/tidy</a>
			</div>
        	<% if content_for?(:relatedTopics) %>
			<div>
				<%= yield_content :relatedTopics %>
			</div>
		    <% end %>
		</div>

		<div>
	        <%= yield %>
		</div>
	</div>

<% end %>
