<% wrap_layout :"layout-html4" do %>

	<div class="container-logo-medium">
		<div>
		    <div>
	            <%= yield %>
	        </div>
		</div>
		<div>
			<div>
				<%= image_tag '/Resources/shared/icon_256x256@2x.png', :alt => "logo" %>
			</div>
        	<% if content_for?(:relatedTopics) %>
			<div class="related_topics">
				<%= yield_content :relatedTopics %>
			</div>
			<% end %>
		</div>
	</div>

<% end %>
